In [1]:
import pandas as pd
import numpy as np

# Data Cleaning

- Importing data set
- In this case weĺl be working with train.csv which is the data frame we'll be using to train our models

In [2]:
airBNB_train = pd.read_csv('data/train.csv.zip')

/tmp/ipykernel_68287/2777334584.py:1: DtypeWarning: Columns (0,2,22,36,41,45,46,55,61,64,66) have mixed types. Specify dtype option on import or set low_memory=False.
  airBNB_train = pd.read_csv('data/train.csv.zip')

In [3]:
airBNB_test = pd.read_csv('data/test.csv.zip')

/tmp/ipykernel_68287/2878296302.py:1: DtypeWarning: Columns (0,2,22,40,44,45,54,60,63,65) have mixed types. Specify dtype option on import or set low_memory=False.
  airBNB_test = pd.read_csv('data/test.csv.zip')

- Making a copy just in case:

In [4]:
raw_train= airBNB_train.copy()
raw_test = airBNB_test.copy()

In [5]:
raw_train.shape, raw_test.shape

((263760, 82), (87922, 81))

### Vamos a hacerlo a lo bestia por tener una referencia de performance:
 - Con regresor lineal -- de momento lo saltamos por el tema de columnas no numericas
 - Con Pycaret
 - Con H20

## Splitting our train DF:

In [6]:
#y = raw['price']
#X=raw.drop('price', axis=1)

In [7]:
from sklearn.model_selection import train_test_split as tts

In [8]:
#X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2) #80% train and %20 test

In [9]:
#X_train.shape, X_test.shape, y_train.shape, y_test.shape #just checking sizes

In [10]:
#X_train.shape[1] == X_test.shape[1]

In [11]:
#X_test.shape[0]/X_train.shape[0] #Testeo con el 25%datos de los que entreno

## 1 - Regresor Lineal

In [12]:
import pylab as plt # para plotear puntos y demás
from sklearn.linear_model import LinearRegression as LinReg #Importamos regresion lineal

- Aplicamos regresor lineal a nuestros datos:

In [13]:
#linreg=LinReg() # Inicializamos modelo
#linreg.fit(X_train, y_train) #Lo entrenamos

#OJO QUE LA REGRESION LINEAL NO SE COME TODAS LAS CARACTERÍSTICAS--> TIRAMOS DE PYCARET Y H2O
# PARA UNA PRIMERA APROXIMACION

## 2 -  PYCARET y H20 PARA UNA PRIMERA APROXIMACION DE POR DONDE TIRAR:

### 2.1 - Pycaret

In [14]:
from pycaret.regression import *
from pycaret.datasets import get_data
from pycaret.classification import *

In [15]:
raw_train.shape, raw_test.shape

((263760, 82), (87922, 81))

In [16]:
from pycaret.utils import version
version()

'2.3.6'

In [17]:
raw_train.sample()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,last_searched,requires_license,region_id,region_name,region_parent_id,region_parent_name,region_parent_parent_id,region_parent_parent_name
15239,15239,https://www.airbnb.com/rooms/3024877,20211230161811,2021-12-30,Malaga close to the beach,"Roomy, bright and comfortable flat located two...",The building sits on a pedestrian street with ...,https://a0.muscache.com/pictures/2b2ab553-1bc6...,3025868.0,https://www.airbnb.com/users/show/3025868,Marthe,2012-07-23,"Málaga, Andalusia, Spain",I am a French Canadian national that has been ...,within an hour,100%,83%,t,https://a0.muscache.com/im/users/3025868/profi...,https://a0.muscache.com/im/users/3025868/profi...,NaN,3.0,3.0,"['email', 'phone', 'reviews', 'manual_offline'...",t,t,"Málaga, Andalucía, Spain",Este,NaN,36.72049,-4.35939,Entire rental unit,Entire home/apt,6.0,NaN,1.5 baths,3.0,4.0,"[""Cable TV"", ""TV with standard cable"", ""Pack \...",110.0,3.0,1125,3.0,3.0,1125.0,1125.0,3.0,1125.0,NaN,t,0.0,1.0,2.0,2.0,2021-12-30,36,4.0,0.0,2014-08-11,2021-10-05,4.58,4.75,4.72,4.83,4.81,4.47,4.44,vft/MA/01933,f,3.0,1.0,2.0,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
raw_train.columns
raw_train.describe().T

,count,mean,std,min,25%,50%,75%,max
host_id,263760.0,1.172955e+08,1.206997e+08,0.000000e+00,1.878436e+07,6.820088e+07,1.909461e+08,4.378176e+08
host_listings_count,263311.0,2.850297e+01,1.750616e+02,0.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00,3.750000e+03
latitude,263739.0,4.476057e+01,5.599644e+00,1.000000e+00,4.042856e+01,4.376935e+01,4.887510e+01,5.573247e+01
longitude,263739.0,4.636097e+00,9.218333e+00,-1.053989e+01,-2.469260e+00,2.938912e+00,1.234875e+01,2.800000e+01
accommodates,263739.0,3.754577e+00,2.308027e+00,0.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,2.800000e+01
bathrooms,21.0,9.734333e+02,3.528308e+02,6.000000e+01,1.125000e+03,1.125000e+03,1.125000e+03,1.125000e+03
beds,255998.0,2.420499e+00,1.952437e+00,0.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,9.000000e+01
price,263739.0,1.907731e+02,2.415280e+03,0.000000e+00,5.300000e+01,8.300000e+01,1.400000e+02,1.173721e+06
minimum_nights,263739.0,2.436076e+01,8.551082e+01,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,9.999000e+03
minimum_minimum_nights,263729.0,2.442875e+01,8.562766e+01,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,9.999000e+03
maximum_minimum_nights,263729.0,2.591815e+01,8.873361e+01,0.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,9.999000e+03
minimum_maximum_nights,263729.0,1.987763e+05,2.052615e+07,0.000000e+00,9.900000e+01,1.125000e+03,1.125000e+03,2.147484e+09
maximum_nights_avg_ntm,263727.0,3.348857e+05,2.609892e+07,1.000000e+00,2.675000e+02,1.125000e+03,1.125000e+03,2.147484e+09
calendar_updated,19.0,4.894737e+00,1.236199e-01,4.580000e+00,4.830000e+00,4.940000e+00,5.000000e+00,5.000000e+00
availability_30,263737.0,9.810493e+00,1.134205e+01,0.000000e+00,0.000000e+00,4.000000e+00,2.100000e+01,3.000000e+01
availability_60,263737.0,2.343102e+01,2.411305e+01,0.000000e+00,0.000000e+00,1.500000e+01,4.900000e+01,6.000000e+01
availability_90,263737.0,3.822227e+01,3.699890e+01,0.000000e+00,0.000000e+00,3.100000e+01,7.800000e+01,9.000000e+01
availability_365,263737.0,1.635957e+02,1.423746e+02,0.000000e+00,0.000000e+00,1.590000e+02,3.170000e+02,3.650000e+02
number_of_reviews_ltm,263739.0,5.131463e+00,1.186522e+01,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,1.705000e+03
number_of_reviews_l30d,263739.0,4.651682e-01,1.337855e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.900000e+01
review_scores_rating,210520.0,4.640020e+00,6.529033e-01,0.000000e+00,4.570000e+00,4.810000e+00,5.000000e+00,5.000000e+00
review_scores_cleanliness,208112.0,4.684285e+00,4.720767e-01,0.000000e+00,4.580000e+00,4.830000e+00,5.000000e+00,5.000000e+00
review_scores_checkin,208049.0,8.153778e+01,2.937189e+04,0.000000e+00,4.800000e+00,4.940000e+00,5.000000e+00,1.326042e+07
review_scores_location,208040.0,6.564822e+00,6.055136e+02,0.000000e+00,4.670000e+00,4.870000e+00,5.000000e+00,2.650110e+05
calculated_host_listings_count,263718.0,1.579685e+01,5.257848e+01,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00,7.290000e+02
calculated_host_listings_count_entire_homes,263718.0,1.421631e+01,5.164738e+01,0.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,7.260000e+02
calculated_host_listings_count_private_rooms,263718.0,1.394649e+00,7.866748e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.790000e+02
calculated_host_listings_count_shared_rooms,263718.0,6.633601e-02,1.179849e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.500000e+01
reviews_per_month,210501.0,1.000698e+00,1.390904e+00,1.000000e-02,1.700000e-01,5.100000e-01,1.310000e+00,9.589000e+01
requires_license,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region_id,19127.0,7.496363e+06,5.931516e+06,1.310400e+06,1.360400e+06,1.312040e+07,1.326041e+07,1.326043e+07
region_parent_id,19127.0,1.463867e+05,9.277098e+04,1.500100e+04,6.500100e+04,1.250020e+05,2.650010e+05,2.650110e+05

NOTA: aquí habrúa que afinar el setup OJO

In [ ]:
pycaret = setup(data = raw_train, target = 'price')

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .            13:05:38
Status     . . . . . . . . . . . . . . . . . .  Preprocessing Data

Text(value="Following data types have been inferred automatically, if they are correct press enter to continue…

                             Data Type
id                         Categorical
listing_url                Categorical
scrape_id                  Categorical
last_scraped               Categorical
name                       Categorical
...                                ...
region_parent_id               Numeric
region_parent_name         Categorical
region_parent_parent_id    Categorical
region_parent_parent_name  Categorical
price                            Label

[82 rows x 1 columns]